==
<!doctype html>
<html class="no-js" lang="en">

<head>
   {% partial "site/header"%}
</head>

<body>
    
    <!--====== Header Start ======-->
    {% partial "modules/header"%}
    <!--====== Header Ends ======-->
    
    <!--====== Slider Start ======-->
    {% partial "modules/slider"%}
    <!--====== Slider Ends ======-->
    
    <!--====== About Start ======-->
    {% partial "modules/about"%}
    <!--====== About Ends ======-->
      
        <!--====== Top Course Start ======-->
    {% partial "modules/top_course_start"%}
    <!--====== Top Course Ends ======-->
<!--====== Blog Start ======-->
    {% partial "modules/blog"%}
    <!--====== Blog Ends ======-->
  
  
    <!--====== Features Start ======-->
{#    {% partial "modules/fotures_start"%}#}
    <!--====== Features Ends ======-->

     <!--====== Top courses Start ======-->
   {# {% partial "modules/top_courses"%}#}
    <!--====== Top courses Ends ======-->

    <!--====== Campus Visit Start ======-->
    {#{% partial "modules/compus_visit"%}#}
    <!--====== Campus Visit Ends ======-->

    

    <!--====== Testimonial Start ======-->
{#    {% partial "modules/testimonial"%}#}
    <!--====== Testimonial Ends ======-->
    
   {% partial "modules/compus2"%}
    
    <!--====== Newsletter Start ======-->
    {% partial "modules/newsletter"%}
    <!--====== Newsletter Ends ======-->
    
    <!--====== Footer Start ======-->
    {% partial "modules/footer"%}
    <!--====== Footer Ends ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="index-3.html#" class="back-to-top"><i class="fal fa-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
    
    <!--====== Start ======-->

<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

    <!--====== Ends ======-->

    {% partial "site/footer"%}

    
</body>

</html>