==
<!doctype html>
<html class="no-js" lang="en">

<head>
   {% partial "site/header"%}
</head>

<body>
    
    <!--====== Header Start ======-->
    {% partial "modules/header"%}
    <!--====== Header Ends ======-->
    
      {% page %}
    
    <!--====== Newsletter Start ======-->
    {% partial "modules/newsletter"%}
    <!--====== Newsletter Ends ======-->
    
    <!--====== Footer Start ======-->
    {% partial "modules/footer"%}
    <!--====== Footer Ends ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="fal fa-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
    
    <!--====== Start ======-->

<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

    <!--====== Ends ======-->

    {% partial "site/footer"%}

    
</body>

</html>