[viewBag]
==
<section class="about-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="about-content mt-40">
                        <h2 class="about-title">MUMTOZBEGIM <span> SHOXSAROY </span></h2>
                        <span class="line"></span>
                        <p>“MUMTOZBEGIM-SHOXSAROY PEDAGOGIKA UNIVERSITETI“ O'zbekiston Respublikasi Bosh vaziri Abdulla Oripov tashabbusi bilan ochilgan.
 <br> <br> O'zbekiston Respublikasi Bosh vaziri Abdulla Oripovning 2019 yil 8 iyundagi Toshkent viloyatiga tashrifi davomida Yangiyo'l shahridagi yagona maktabgacha ta'lim hamda maktab ekanligini inobatga olgan holda ta'limning uzluksizligini ta'minlash maqsadida oliy ta'lim muassasasini ishga tushirish taklifini bildirgan.
</p>
                        <a href="{{'/universitet-haqida'}}" class="main-btn">{{"To'liqroq o'qish"|_}}</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-image mt-50">
                        <div class="single-image image-1">
                            <img src="{{ '/storage/app/media/sayt_sozlamlari_uchun/mspu_4-min.png' }}" width="290" height="290" alt="about">
                        </div>
                        <div class="single-image image-2">
                            <img src="{{ '/storage/app/media/sayt_sozlamlari_uchun/mspu_banner2.jpg' }}" width="225" height="225" alt="about">
                        </div>
                        <div class="single-image image-3">
                            <img src="{{ '/storage/app/media/sayt_sozlamlari_uchun/mspu_banner6.jpg' }}" width="190" height="190" alt="about">
                        </div>
                        <div class="single-image image-4">
                            <img src="{{ '/storage/app/media/sayt_sozlamlari_uchun/mspu_banner_26.jpg' }}" width="140" height="140" alt="about">
                        </div>

                        <div class="about-icon icon-1">
                            <img src="{{ 'assets/images/about/icon/icon-1.webp'|theme }}" width="46" height="46" alt="icon">
                        </div>
                        <div class="about-icon icon-2">
                            <img src="{{ 'assets/images/about/icon/icon-2.webp'|theme }}" width="46" height="46" alt="icon">
                        </div>
                        <div class="about-icon icon-3">
                            <img src="{{ 'assets/images/about/icon/icon-3.webp'|theme }}" width="46" height="46" alt="icon">
                        </div>
                        <div class="about-icon icon-4">
                            <img src="{{ 'assets/images/about/icon/icon-4.webp'|theme }}" width="46" height="46" alt="icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>