==
<section class="campus-visit-area">
        <div class="container">
            <div class="campus-visit-wrapper">
                <div class="campus-image-col">
                    <div class="campus-image">
                        <div class=" single-campus">
                            <img src="{{ 'assets/images/campus-1.webp'|theme }}" width="521" height="392" alt="Campus">
                        </div>
                        <div class="single-campus">
                            <img src="{{ 'assets/images/campus-2.webp'|theme }}" width="521" height="392" alt="Campus">
                        </div>   
                    </div>
                </div>
                <div class="campus-content-col">
                    <div class="campus-content">
                        <h2 class="campus-title">Visit our Campus with image gallery</h2>
                        <span class="line"></span>
                        <p>Even slightly believable. If you are going use a passage of Lorem Ipsum need</p>
                        <h3 class="video-title">or watch video</h3>
                        <a class="play video-popup" href="https://www.youtube.com/watch?v=0qHWub21h5c"><i class="fas fa-play"></i> <span>Play now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>