[viewBag]
==
<section class="campus-visit-area-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="campus-content campus-content-2 mt-40">
                        <h2 class="campus-title">{{"Universitetimizga rasmlar galereyasi orqali tashrif buyuring"|_}}</h2>
                        <span class="line"></span>
                        <p>{{"Universitetimizga aloqador suratlar va videolarni ko'rishingizni tafsiya qilamiz."|_}}</p>
                        <h3 class="video-title">{{"yoki tomosha qiling"|_}}</h3>
                        <a class="play video-popup" href="https://mspu.uz/storage/app/media/sayt_sozlamlari_uchun/video_2022-09-27_14-15-32.mp4"><i class="fas fa-play"></i> <span>{{"Video ko'rish"|_}}</span></a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="campus-image-2 mt-50">
                        <h4 class="campus-title-2">{{"Galereya"|_}}</h4>
                        <div class="image-1">
                            <img style=" border-radius: 5%;" src="{{'/storage/app/media/sayt_sozlamlari_uchun/photo_2022-09-26_16-14-44.jpg'}}" width="585" height="308" alt="campus">
                        </div>
                        <div class="image-2">
                            <img style=" border-radius: 5%;" src="{{'/storage/app/media/sayt_sozlamlari_uchun/photo_2022-05-10_22-33-12.jpg' }}" width="253" height="220" alt="campus">
                        </div>
                        <div class="image-3">
                            <img  style=" border-radius: 5%;" src="{{'/storage/app/media/sayt_sozlamlari_uchun/photo_2022-05-10_22-33-05.jpg'}}" width="412" height="270" alt="campus">
                        </div>
                        <a href="{{'/galereya'}}" class="more">{{"Sahifaga o'tish"|_}} <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>