[viewBag]
==
<section class="footer-area bg_cover" style="background-image: url({{"assets/images/counter-bg.webp"|theme }});">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-link mt-45">
                            <h4 class="footer-title">{{"Informatsiya"|_}}</h4>
                            <ul class="link-list">
                                <li><a href="{{'/raxbariyat'}}">{{"Raxbariyat"|_}}</a></li>
                                <li><a href="{{'/yonalishlar'}}">{{"Yo'nalishlar"|_}}</a></li>
                                <li><a href="{{'/yangilik-va-elonlar-royxati/1/yangiliklar'}}">{{"Yangiliklar"|_}}</a></li>
                                <li><a href="{{'/yangilik-va-elonlar-royxati/1/yangiliklar'}}">{{"E'lonlar"|_}}</a></li>
                                <li><a href="{{'#'}}">{{"Galereya"}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-link mt-45">
                            <h4 class="footer-title">{{"Foydali sahifalar"|_}}</h4>
                            <ul class="link-list">
                                <li><a href="{{'/oqituvchilar'}}">{{"O'qituvchilar"|_}}</a></li>
                                <li><a href="{{'/qabul-2022'}}">{{"Qabul 2022"|_}}</a></li>
                                <li><a href="{{'/talabalar/dars-jadvali'}}">{{"Dars jadvali"|_}}</a></li>
                            
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-link mt-45">
                            <h4 class="footer-title">{{"Qayta a'loqa"|_}}</h4>
                            <ul class="link-list">
                                <li>
                                    <p>Toshkent viloyati, Yangiyo`l shahar, Yangiobod mfy, Yangi Farovon dahasi, 1-uy
</p>
                                </li>
                                <li>
                                    <p><a href="tel:+01254659874">+998 94 665-97-27</a></p>
                                    <p><a href="tel:+32145857458">+998 97 881-97-27</a></p>
                                </li>
                                <li>
                                    <p><a href="mailto://infoedumate@mspu.uz">infoedumate@mspu.uz</a></p>
                                    <p></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-link mt-45">
                            <h4 class="footer-title">{{"Xarita"|_}}</h4>
                           <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A39823538cac03a76d9a9fa7572cbee1de90536646ca969836bf932f8f8e9cabb&amp;source=constructor" width="300" height="300" frameborder="0"></iframe>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="copyright text-center">
                    <p>© 2022 <span> RAXI-DEV </span> Made with <i class="fa fa-heart"></i> by <a href="cspi.uz">CSPU ATM</a></p>
                </div>
            </div>
        </div>
    </section>