==
<section class="newsletter-area">
        <div class="container">
            <div class="newsletter-wrapper bg_cover wow zoomIn" data-wow-duration="1s" data-wow-delay="0.2s" style="background-image: url({{"assets/images/newsletter-bg-1.webp"|theme }}); visibility: visible;">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="section-title-2 mt-25">
                            <h2 class="title">{{"Bizning xabarnomamizga obuna bo'ling"|_}}</h2>
                            <span class="line"></span>
                            <p>{{"Yangilik va E'lonlarimizni elektron pcotangizga avtomatik borishini istasangiz obuna bo'lishingiz mumkin."|_}}</p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="newsletter-form mt-30">
                            <form action="index-2.html#">
                                <input type="text" placeholder="{{"Bu yerga elektron pochtangizni kiriting"|_}}">
                                <button class="main-btn main-btn-2">{{"Hozir obuna boʻling"|_}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>