[viewBag]
==
<!--====== Slider Start ======-->

<style>
.slider-content .slider-btn li .main-btn {
    width: 100%;
}
</style>

    <section class="slider-area slider-active">
    
     <div class="single-slider d-flex align-items-center bg_cover" style="background-image: url({{ '/storage/app/media/sayt_sozlamlari_uchun/slider1.jpg'}}); background-position: center; background-repeat: no-repeat;
  background-size: cover;">
            <div class="container">
                <div class="slider-content slider-content-3 text-center">
                    <h3 class="title" data-animation="fadeInUp" data-delay="0.2s">“MUMTOZBEGIM-SHOXSAROY“ PEDAGOGIKA UNIVERSITETI </h3>
                    <ul class="slider-btn">
                        <li><a data-animation="fadeInUp" data-delay="0.6s" class="main-btn main-btn-2" href="{{'/universitet-haqida'}}">{{"Universitet haqida"|_}}</a></li>
                        <li><a data-animation="fadeInUp" data-delay="1s" class="main-btn" href="{{'/qabul-2022'}}">{{"Qabul 2022"|_}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
      {#  <div class="single-slider d-flex align-items-center bg_cover" style="background-image: url({{ 'assets/images/slider-1.webp'|theme }});">
            <div class="container">
                <div class="slider-content">
                    <h3 class="title" data-animation="fadeInLeft" data-delay="0.2s">{{"Toshkent viloyatidagi birinchi xususiy universitet"|_}}</h3>
                    <ul class="slider-btn">
                        <li><a data-animation="fadeInUp" data-delay="0.6s" class="main-btn main-btn-2" href="our-courses-left-sidebar.html">{{"Joylashuv"|_}}</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>   #}
     
        
        
    </section>

    <!--====== Slider Ends ======-->