==
<section class="testimonials-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="testimonial-wrapper-2 mt-40">
                        <div class="section-title-2">
                            <h2 class="title">Our Students <br> Review</h2>
                            <span class="line"></span>
                        </div>

                        <div class="testimonials-content">
                            <div class="single-testimonial-content">
                                <div class="content-text">
                                    <i class="fas fa-quote-right"></i>
                                    <p>Best pleasure rationally encounter consequences that are very nice a again is there anyone who loves or desires to obtain pain of itself</p>
                                </div>
                            </div>
                            <div class="single-testimonial-content">
                                <div class="content-text">
                                    <i class="fas fa-quote-right"></i>
                                    <p>Best pleasure rationally encounter consequences that are very nice a again is there anyone who loves or desires to obtain pain of itself</p>
                                </div>
                            </div>
                            <div class="single-testimonial-content">
                                <div class="content-text">
                                    <i class="fas fa-quote-right"></i>
                                    <p>Best pleasure rationally encounter consequences that are very nice a again is there anyone who loves or desires to obtain pain of itself</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-wrapper-2">
                        <div class="testimonials-shape shape-1"></div>
                        <div class="testimonials-shape shape-2"></div>

                        <div class="testimonials-image">
                            <div class="single-testimonial-image">
                                <img src="{{'assets/images/testimonials-3.webp'|theme}}" width="313" height="579" alt="Testimonials">

                                <div class="content-meta">
                                    <p class="name">Alex Smith</p>
                                    <p class="designation">CEO, Xelopex Group</p>
                                </div>
                            </div>
                            <div class="single-testimonial-image">
                                <img src="{{'assets/images/testimonials-2.webp'|theme}}" width="313" height="579" alt="Testimonials">

                                <div class="content-meta">
                                    <p class="name">Alex Amith</p>
                                    <p class="designation">CEO, Xelopex Group</p>
                                </div>
                            </div>
                            <div class="single-testimonial-image">
                                <img src="{{'assets/images/testimonials-1.webp'|theme}}" width="313" height="579" alt="Testimonials">

                                <div class="content-meta">
                                    <p class="name">Alex Smith</p>
                                    <p class="designation">CEO, Xelopex Group</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>