[viewBag]
==
<section class="top-courses-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mt-40">
                        <h2 class="title">{{"Ta'lim <br> Yo'nalishlari"|_}}</h2>
                        <p>{{"“MUMTOZBEGIM - SHOXSAROY PEDAGOGIKA UNIVERSITETI“  quyidagi  yo`nalishlarda faoliyat  yuritadi:"|_}}</p>
                    </div>
                </div>
            </div>
            <div class="courses-wrapper wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="row" style="justify-content: center;">
                    <div class="col-lg-4 col-sm-6 courses-col">
                        <div class="single-courses-2 mt-30">
                            <div class="courses-image">
                                <a href="{{'/yonalishlar/talim-menejmenti'}}"><img src="{{'storage/app/media/sayt_sozlamlari_uchun/boshlangich-talim-attestatsiya-savollari-739x440.jpeg'}}" width="270" height="170" alt="courses"></a>
                            </div>
                            <div class="courses-content">
                                <a href="#" class="category">#qabul 2022</a>
                                <h4 class="courses-title"><a href="{{'/yonalishlar/talim-menejmenti'}}">{{"Ta’lim menejmenti"|_}}</a></h4>
                                <div class="duration-rating">
                                    <div class="duration-fee">
                                        <p class="duration">{{"Ta'lim muddati"|_}}: <span> {{"4 yillik"|_}}</span></p>                                        
                                    </div>
                                   
                                </div>
                                <div class="courses-link">
                                    <a class="apply" href="#">{{"Kunduzgi ta'lim"|_}}</a>
                                    <a class="more" href="{{'/yonalishlar/talim-menejmenti'}}">{{"O'qish"|_}} <i class="fal fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 courses-col">
                        <div class="single-courses-2 mt-30">
                            <div class="courses-image">
                                <a href="{{'/yonalishlar/pedagogika-va-psixologiya'}}"><img src="{{'/storage/app/media/sayt_sozlamlari_uchun/2_0.jpg'}}" width="270" height="170" alt="courses"></a>
                            </div>
                            <div class="courses-content">
                                <a href="index-3.html#" class="category">#qabul 2022</a>
                                <h4 class="courses-title"><a href="{{'/yonalishlar/pedagogika-va-psixologiya'}}">{{"Pedagogika va Psixologiya"|_}}</a></h4>
                                <div class="duration-rating">
                                    <div class="duration-fee">
                                       <p class="duration">{{"Ta'lim muddati"|_}}: <span> {{"4 yillik"|_}}</span></p>
                                    </div>
                                 
                                </div>
                                <div class="courses-link">
                                       <a class="apply" href="#">{{"Kunduzgi ta'lim"|_}}</a>
                                    <a class="more" href="{{'/yonalishlar/pedagogika-va-psixologiya'}}">{{"O'qish"|_}} <i class="fal fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 courses-col">
                        <div class="single-courses-2 mt-30">
                            <div class="courses-image">
                                <a href="{{'/yonalishlar/maktabgacha-talim'}}"><img src="{{'/storage/app/media/sayt_sozlamlari_uchun/maxresdefault.jpg'}}" width="270" height="170" alt="courses"></a>
                            </div>
                            <div class="courses-content">
                                <a href="index-3.html#" class="category">#qabul 2022</a>
                                <h4 class="courses-title"><a href="{{'/yonalishlar/maktabgacha-talim'}}">{{"Maktabgacha ta'lim"|_}}</a></h4>
                                <div class="duration-rating">
                                    <div class="duration-fee">
                                         <p class="duration">{{"Ta'lim muddati"|_}}: <span> {{"4 yillik"|_}}</span></p>
                                    </div>
                                    
                                </div>
                                <div class="courses-link">
                                     <a class="apply" href="#">{{"Kunduzgi ta'lim"|_}}</a>
                                    <a class="more" href="{{'/yonalishlar/maktabgacha-talim'}}">{{"O'qish"|_}} <i class="fal fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-lg-4 col-sm-6 courses-col">
                        <div class="single-courses-2 mt-30">
                            <div class="courses-image">
                                <a href="{{'/yonalishlar/defektologiya'}}"><img src="{{'/storage/app/media/sayt_sozlamlari_uchun/defektologiya-04.jpg'}}" width="270" height="170" alt="courses"></a>
                            </div>
                            <div class="courses-content">
                                <a href="index-3.html#" class="category">#qabul 2022</a>
                                <h4 class="courses-title"><a href="{{'/yonalishlar/defektologiya'}}">{{"Defektologiya"|_}}</a></h4>
                                <div class="duration-rating">
                                    <div class="duration-fee">
                                        <p class="duration">{{"Ta'lim muddati"|_}}: <span> {{"4 yillik"|_}}</span></p>
                                    </div>
                                    
                                    
                                </div>
                                <div class="courses-link">
                                    <a class="apply" href="#">{{"Kunduzgi ta'lim"|_}}</a>
                                    <a class="more" href="{{'/yonalishlar/defektologiya'}}">{{"O'qish"|_}} <i class="fal fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 courses-col">
                        <div class="single-courses-2 mt-30">
                            <div class="courses-image">
                                <a href="{{'/yonalishlar/boshlangich-talim'}}"><img src="{{'/storage/app/media/sayt_sozlamlari_uchun/6kcCk6BS9C4R2xh2QyBNGRBV3USSwVoI.jpg'}}" width="270" height="170" alt="courses"></a>
                            </div>
                            <div class="courses-content">
                                <a href="index-3.html#" class="category">#qabul 2022</a>
                                <h4 class="courses-title"><a href="{{'/yonalishlar/boshlangich-talim'}}">{{"Boshlang'ich ta'lim"|_}}</a></h4>
                                <div class="duration-rating">
                                    <div class="duration-fee">
                                      <p class="duration">{{"Ta'lim muddati"|_}}: <span> {{"4 yillik"|_}}</span></p>
                                    </div>
                                   
                                </div>
                                <div class="courses-link">
                                    <a class="apply" href="#">{{"Kunduzgi ta'lim"|_}}</a>
                                    <a class="more" href="{{'/yonalishlar/boshlangich-talim'}}">{{"O'qish"|_}} <i class="fal fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>