[viewBag]
==
<!--====== Jquery js ======-->
    <script src="{{ 'assets/js/vendor/jquery-3.6.0.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/vendor/modernizr-3.7.1.min.js'|theme }}"></script>
    
       
    <!--====== All Plugins js ======-->
    <script src="{{ 'assets/js/plugins/popper.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/bootstrap.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/slick.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/jquery.magnific-popup.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/imagesloaded.pkgd.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/isotope.pkgd.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/wow.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/ajax-contact.js'|theme }}"></script>
    

    <!--====== Main Activation  js ======-->
    <script src="{{ 'assets/js/main.js'|theme }}"></script>
    
{% framework extras %}
        {% scripts %}